:root {
  /* global variables to keep everything defined in one place */
  --terminal-width: 40vw;
  --terminal-min-width: 300px;
  --terminal-height: 40vh;
  --terminal-actions-height: 50px;
  --terminal-selection-color: #76B354;
  --terminal-font-size: 16px;
  --terminal-cursor-width: 8px;
  --terminal-body-margin: 15px;
  --terminal-type-delay: 0.5s;
  --terminal-type-speed: 1.5s;
  --terminal-execute-script: calc(var(--terminal-type-delay) + var(--terminal-type-speed) + 0.65s); /* start the script after it finishes typing */
}

body {
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(45deg, #76B354, #5089DB);
  background: -o-linear-gradient(45deg, #76B354, #5089DB);
  background: linear-gradient(45deg, #76B354, #5089DB);
  background-size: 200%; /* zoom in the background so that it allows space for it to be scrolled */
  -webkit-animation: scroll-background 4s ease-in-out infinite;
          animation: scroll-background 4s ease-in-out infinite;
}

.terminal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: var(--terminal-width);
  min-width: var(--terminal-min-width);
  height: var(--terminal-height);
  min-height: var(--terminal-min-width);
  background-color: #0a0e14;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 10px;
          box-shadow: 5px 7px 10px;
}

.terminal-header-title-initial,
.terminal-header-title-final {
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.terminal-header-title-initial {
  -webkit-animation: hide 0s linear var(--terminal-execute-script) forwards;
          animation: hide 0s linear var(--terminal-execute-script) forwards;
}

.terminal-header-title-final {
  visibility: hidden;
  -webkit-animation: show 0s linear var(--terminal-execute-script) forwards;
          animation: show 0s linear var(--terminal-execute-script) forwards;
}

.terminal-header-actions {
  position: absolute;
  height: var(--terminal-actions-height);
  padding-top: 5px;
  padding-left: 10px;
}

.terminal-header-actions>div {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 10px 3px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-family: Arial;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: var(--terminal-font-size);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.terminal-header-actions>div:hover {
  color: black;
}

.terminal-header-actions-close {
  background-color: #ff525c;
}

.terminal-header-actions-minimize {
  background-color: #ffb852;
}

.terminal-header-actions-maximize {
  background-color: #00ca61;
}

.terminal-body {
  height: calc(100% - var(--terminal-actions-height) - var(--terminal-body-margin));
  margin-top: var(--terminal-actions-height);
  margin-bottom: var(--terminal-body-margin);
  margin-left: var(--terminal-body-margin);
  margin-right: var(--terminal-body-margin);
}

.terminal-body-commands,
.terminal-body-cursor {
  -webkit-animation: hide 0s linear var(--terminal-execute-script) forwards;
          animation: hide 0s linear var(--terminal-execute-script) forwards;
}

span {
  display: inline-block;
  color: white;
  font-family: monospace;
  font-size: var(--terminal-font-size);
}

.terminal-body-commands::-moz-selection,
.terminal-body-commands>span::-moz-selection,
.terminal-body-script::-moz-selection {
  background-color: var(--terminal-selection-color);
}

.terminal-body-commands::selection,
.terminal-body-commands>span::selection,
.terminal-body-script::selection {
  background-color: var(--terminal-selection-color);
}

.terminal-body-cursor {
  position: absolute;
  display: inline-block;
  width: var(--terminal-cursor-width);
  height: 20px;
  background-color: white;
  -webkit-animation: blink 1s step-end infinite;
          animation: blink 1s step-end infinite;
}

.terminal-command {
  display: inline-block;
  vertical-align: top;
  margin-left: var(--terminal-cursor-width);
  overflow: hidden;
  white-space: nowrap; /* prevent text from kicking to next line when width is too small*/
  width: 0px;
  -webkit-animation: type var(--terminal-type-speed) steps(13) var(--terminal-type-delay) normal both;
          animation: type var(--terminal-type-speed) steps(13) var(--terminal-type-delay) normal both; /* # of steps === # of total letters */
}

.terminal-body-script {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* stack the items */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* center it along the flex direction */
  visibility: hidden;
  -webkit-animation: show 0s linear var(--terminal-execute-script) forwards;
          animation: show 0s linear var(--terminal-execute-script) forwards; /* delay the animation until finish typing */
}

h1 {
  font-family: Helvetica;
  font-size: calc(64px + 1vw);
  margin: 10px 0;
  color: #DE2E43;
  text-align: center;
  -webkit-animation: fade-rgb 4s step-end infinite;
          animation: fade-rgb 4s step-end infinite;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  -o-transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

h1:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes type {
  to {
    width: 115px; /* final width of the span after all letters are typed out */
  }
}

@keyframes type {
  to {
    width: 115px; /* final width of the span after all letters are typed out */
  }
}

@-webkit-keyframes show {
  to {
    visibility: visible;
  }
}

@keyframes show {
  to {
    visibility: visible;
  }
}

@-webkit-keyframes hide {
  to {
    position: absolute; /* absolute positioning so that element doesnt take space anymore */
    visibility: hidden;
  }
}

@keyframes hide {
  to {
    position: absolute; /* absolute positioning so that element doesnt take space anymore */
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  50% {
    background-color: black;
  }
}

@keyframes blink {
  50% {
    background-color: black;
  }
}

@-webkit-keyframes fade-rgb {
  25% {
    color: #76B354;
  }
  
  50% {
    color: #FFAC32; 
  }
  
  75% {
    color: #5089DB;
  }
}

@keyframes fade-rgb {
  25% {
    color: #76B354;
  }
  
  50% {
    color: #FFAC32; 
  }
  
  75% {
    color: #5089DB;
  }
}

@-webkit-keyframes scroll-background {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%; /* move it all the way over */
  }
  
  100% {
    background-position: 0%; /* then go backward */
  }
}

@keyframes scroll-background {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%; /* move it all the way over */
  }
  
  100% {
    background-position: 0%; /* then go backward */
  }
}